<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--Dynamics 365 discovery and organnizaiton services-->
    <add key="discoveryService" value="https://disco.crm3.dynamics.com/XRMServices/2011/Discovery.svc" />
    <add key="orgService" value="https://****.api.crm3.dynamics.com/XRMServices/2011/Organization.svc" />
  </appSettings>
</configuration>
